In [2]:
import pandas as pd
import plotly.express as plt

In [13]:
df9 = pd.read_csv('dataset/IBM_RH_dataset.csv')
df9.head(2)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7

In [14]:
df9.rename(columns={
    'Attrition' : 'Unsatisfied'
}, inplace=True)

unsatisfied_mapping = {
    'Yes' : 'Unsatisfied',
    'No' : 'Satisfied'
}

df9['Unsatisfied'] = df9['Unsatisfied'].map(unsatisfied_mapping)

education_mapping = {
    1: 'Below College',
    2: 'College',
    3: 'Bachelor',
    4: 'Master',
    5: 'Doctor'
}

df9['Education'] = df9['Education'].map(education_mapping)

environment_mapping = {
    1: 'Low',
    2: 'Medium',
    3: 'High',
    4: 'Very High'
}

df9['EnvironmentSatisfaction'] = df9['EnvironmentSatisfaction'].map(environment_mapping)

jobinv_mapping = {
    1: 'Low',
    2: 'Medium',
    3: 'High',
    4: 'Very High'
}

df9['JobInvolvement'] = df9['JobInvolvement'].map(jobinv_mapping)

jobsatif_mapping = {
    1: 'Low',
    2: 'Medium',
    3: 'High',
    4: 'Very High'
}

df9['JobSatisfaction'] = df9['JobSatisfaction'].map(jobinv_mapping)

perfrating_mapping = {
    1: 'Low',
    2: 'Good',
    3: 'Excellent',
    4: 'Outstanding'
}

df9['PerformanceRating'] = df9['PerformanceRating'].map(perfrating_mapping)

relations_mapping = {
    1: 'Low',
    2: 'Medium',
    3: 'High',
    4: 'Very High'
}

df9['RelationshipSatisfaction'] = df9['RelationshipSatisfaction'].map(relations_mapping)

worklife_mapping = {
    1: 'Bad',
    2: 'Good',
    3: 'Better',
    4: 'Best'
}

df9['WorkLifeBalance'] = df9['WorkLifeBalance'].map(relations_mapping)

# Range distance from home
def distanceFromHome(distance):
    if 1 <= distance <= 5:
        return 'Close'
    elif 6 <= distance <= 12:
        return 'Medium'
    elif 13 <= distance <= 20:
        return 'Far Away'
    else:
        return 'Very Far Away'

df9['DistanceRange'] = df9['DistanceFromHome'].apply(distanceFromHome)

# Wage Range
def wageRange(wage):
    if 1000 <= wage < 5000:
        return '1K~5K'
    elif 5001 <= wage < 10000:
        return '5K~10K'
    elif 10001 <= wage < 15000:
        return '10K~15K'
    else:
        return '+15K'

df9['IncomeRange'] = df9['MonthlyIncome'].apply(wageRange)

# Age Range
def rangeAge(age):
    if 18 <= age <= 25:
        return '18~25'
    elif 26 <= age <= 35:
        return '26~35'
    elif 36 <= age <= 50:
        return '36~50'
    else:
        return '+50'
    
df9['AgeRange'] = df9['Age'].apply(rangeAge)

# YearsAtCompany Range
def yAtCRange(yAtC):
    if 0 <= yAtC <= 3:
        return '0~3'
    elif 4 <= yAtC <= 10:
        return '4~10'
    elif 11 <= yAtC <= 16:
        return '11~16'
    elif 17 <= yAtC <= 25:
        return '17~25'
    elif 26 <= yAtC <= 35:
        return '26~35'
    else:
        return '+36'

df9['YearsAtCompanyRange'] = df9['YearsAtCompany'].apply(yAtCRange)

# YearsInCurrentRole Range

def yInRRange(yInR):
    if 0 <= yInR <= 5:
        return '0~5'
    elif 6 <= yInR <= 10:
        return '6~10'
    elif 11 <= yInR <= 15:
        return '11~15'
    else:
        return '16+'
    
df9['YearsInCurrRoleRange'] = df9['YearsInCurrentRole'].apply(yInRRange)

# YearsWithCurrManager Range

def yWtMRange(yWtM):
    if 0 <= yWtM <= 5:
        return '0~5'
    elif 6 <= yWtM <= 10:
        return '6~10'
    elif 11 <= yWtM <= 15:
        return '11~15'
    else:
        return '16+'
    
df9['YearsWithCurrManagerRange'] = df9['YearsWithCurrManager'].apply(yWtMRange)

# YearsSinceLastPromotion Range

def ySlPRange(ySlP):
    if 0 <= ySlP <= 3:
        return '0~3'
    elif 4 <= ySlP <= 8:
        return '4~8'
    elif 9 <= ySlP <= 12:
        return '9~12'
    else:
        return '13+'
    
df9['YearsSinceLastPromotionRange'] = df9['YearsSinceLastPromotion'].apply(ySlPRange)

df9.head()

,Age,Unsatisfied,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,DistanceRange,IncomeRange,AgeRange,YearsAtCompanyRange,YearsInCurrRoleRange,YearsWithCurrManagerRange,YearsSinceLastPromotionRange
0,41,Unsatisfied,Travel_Rarely,1102,Sales,1,College,Life Sciences,1,1,...,4,0,5,Close,5K~10K,36~50,4~10,0~5,0~5,0~3
1,49,Satisfied,Travel_Frequently,279,Research & Development,8,Below College,Life Sciences,1,2,...,7,1,7,Medium,5K~10K,36~50,4~10,6~10,6~10,0~3
2,37,Unsatisfied,Travel_Rarely,1373,Research & Development,2,College,Other,1,4,...,0,0,0,Close,1K~5K,36~50,0~3,0~5,0~5,0~3
3,33,Satisfied,Travel_Frequently,1392,Research & Development,3,Master,Life Sciences,1,5,...,7,3,0,Close,1K~5K,26~35,4~10,6~10,0~5,0~3
4,27,Satisfied,Travel_Rarely,591,Research & Development,2,Below College,Medical,1,7,...,2,2,2,Close,1K~5K,26~35,0~3,0~5,0~5,0~3

In [15]:
df9.to_csv('df_ibm.csv', index=False)

In [10]:
df8.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [11]:
df8.groupby('YearsSinceLastPromotion')['Attrition'].count()

YearsSinceLastPromotion
0     581
1     357
2     159
3      52
4      61
5      45
6      32
7      76
8      18
9      17
10      6
11     24
12     10
13     10
14      9
15     13
Name: Attrition, dtype: int64

In [24]:
df7['MonthlyIncome'].max()

19999